*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      background: rgba(66, 81, 178, 0.8);
      background-size: auto; background-repeat: repeat; background-position: center;
      display: flex;
      justify-content: center;     
      align-items: center;   
      height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
  }

  .avatar{
    border-radius: 10%;
  }

  .identity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0 10px 0;
  }

  .todolist-body{
    width: 100%;
    height: 100%;
    max-height: 1000px;
    max-width: 700px;
    border-radius: 3px;
  }

  .donelist{
    display: none;
    flex-direction: column;
  }

  .todolist-body > .tasklistform, .donelist-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(217, 92, 156, 0.8);
    border: 5px solid black;
    border-bottom: none;
  }

button{
    margin: 3px;
  }



.checked {
    text-decoration: line-through;
  }

  .newtaskform{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(217, 92, 156, 0.8);
    border: 10px solid black;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    border-radius: 3px;
    gap: 10px;
  }

.newtask{
  width: 100%; 
  max-width: 550px; 
  height: 100%;
  max-height: 800px;
  resize: none;
  box-sizing: border-box;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 5px solid black;
    border-top: none;
    background: white;
  }

  tbody{
    border-collapse: collapse;
    background: white;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  