*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: rgb(255,13,0);
        background: linear-gradient(133deg, rgba(255,13,0,0.6923144257703081) 9%, rgba(255,214,0,0.6026785714285714) 86%);
  }

  .todolist-body{
    border: 10px solid black;
    width: 100%;
    height: 100%;
    max-width: 700px;
    border-radius: 3px;
  }

  .donelist{
    display: none;
    flex-direction: column;
  }

  .tasklistform, .donelist-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(245,46,35);
  }

.checked {
    text-decoration: line-through;
  }

  .newtaskform{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(245,46,35);
    border: 10px solid black;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    border-radius: 3px;
    gap: 10px;
  }

.newtask{
  width: 100%; 
  max-width: 550px; 
  height: 100%;
    max-height: 800px;
    resize: none;
    box-sizing: border-box;
    font-size: 1rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  